<h1>Windows#page1</h1>
<p>Find me in app/views/windows/page1.html.erb</p>


<form action="/create" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <input type="text" name="ans1">
  <input type="text" name="ans2">
  <input type="text" name="ans3">
  <input type="submit">
</form>
